{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1 class="text-center">Listado de Patrocinadores</h1>
<hr>

<div class="row">
    <div class="text-end">
        <a href="/nuevoPatrocinador/" class="btn btn-info text-right">
            Agregar Patrocinador
        </a>
    </div>
</div>
<br>
<table class="table table-bordered table-striped table-hover" id="tbl_patrocinadores">
    <thead>
        <tr class="bg-primary">
            <th>ID</th>
            <th>Nombre</th>
            <th>Industria</th>
            <th>Logo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for patrocinador in patrocinadores %}
            <tr>
                <td>{{ patrocinador.id }}</td>
                <td>{{ patrocinador.nombre }}</td>
                <td>{{ patrocinador.industria }}</td>
                <td>
                    {% if patrocinador.logo_patrocinador %}
                        <img src="{{ patrocinador.logo_patrocinador.url }}" alt="Logo" width="100px" height="100px"><br><br>
                        <a href="{{ patrocinador.logo_patrocinador.url }}" download class="btn btn-sm btn-outline-secondary mt-1">Descargar</a>
                    {% else %}
                        Ninguno
                    {% endif %}
                </td>
                <td>
                    <a href="/editarPatrocinador/{{ patrocinador.id }}" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" 
                        data-id="{{ patrocinador.id }}" 
                        class="btn btn-outline-danger btnEliminar">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botonesEliminar = document.querySelectorAll('.btnEliminar');

        botonesEliminar.forEach(boton => {
            boton.addEventListener('click', function (e) {
                e.preventDefault();
                const id = this.getAttribute('data-id');

                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "¡No podrás revertir esto!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/eliminarPatrocinador/${id}`;
                    }
                });
            });
        });
    });
</script>

<script>
  const table = new DataTable('#tbl_patrocinadores', {
    layout: {
      topStart: {
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
      }
    }
  });
</script>

<br><br><br><br><br><br>
{% endblock %}
